<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
        <title>MMO</title>
        <link rel="stylesheet" href="../Estilos/style.css">
    </head>
    <body>
        <form action="../../Controller/Usuario/ExcluirUsuario.php" method="POST">
            <label style="color: white;"> Excluir <input type="text" name="exclusao"></label> <br><br>
            <input type="submit" value="Excluir">
            <input type="button" value="Voltar" onclick="location.href='../../painel_usuario.html'">

        </form>
    </body>
</html>